var loadThumbImg = function (imgUrl) {
  if (imgUrl == null || imgUrl.length == 0) {
    return null
  }
  if (imgUrl.indexOf('http') > 0) {
    return imgUrl
  }else{
    return 'http://img.rxswift.cn/' + imgUrl + '?imageView2/0/q/20'
  }
}

var loadFourImg = function(imgUrl) {
  if (imgUrl.length == 0) {
    return 
  }
  if (imgUrl.indexOf('http') > 0) {
    return imgUrl
  }else{
    return 'http://img.rxswift.cn/' + imgUrl + '?imageView2/0/q/40'
  }
}

var loadSevenImg = function(imgUrl) {
  if (imgUrl.length == 0) {
    return 
  }
  if (imgUrl.indexOf('http') > 0) {
    return imgUrl
  }else{
    return 'http://img.rxswift.cn/' + imgUrl + '?imageView2/0/q/75'
  }
}

var loadOriginImg = function(imgUrl) {
  if (imgUrl.length == 0) {
    return 
  }
  if (imgUrl.indexOf('http') > 0) {
    return imgUrl
  }else{
    return 'http://img.rxswift.cn/' + imgUrl
  }
}

var timeInfo = function(timeStr) {
  /**2016-09-09T17:02:37.227 */
  if (timeStr.length == 0) {
    return 
  }
  var timeArr = timeStr.split("T");
  var d = timeArr[0].split("-");
  var t = timeArr[1].split(":");
  return new Date(d[0], d[1] - 1, d[2], t[0], t[1], t[2]);
}

module.exports = {
  loadThumbImg: loadThumbImg,
  loadFourImg: loadFourImg,
  loadSevenImg: loadSevenImg,
  loadOriginImg: loadOriginImg
};